# Entorno virtual
.venv/

# Python
__pycache__/
*.py[cod]

# Ignorar el dataset
data/

# Mantener la carpeta data/raw en el repositorio
!data/raw/
!data/raw/.gitkeep

# Archivos del sistema
.DS_Store
Thumbs.db

# VS Code
.vscode/